.detailSc_container{
    padding: 5rem;
    display: flex;
    flex-flow: column;
    align-content: space-between;
    width: 50%;
    position: relative;
}

.dailySc_details{
    width: 100%;
    border: 1px black solid;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
}

