
.Schedules_container{
    display: flex;
    height: auto;
}

.fc_container{
    padding: 4rem 2rem;
    height: auto;
    width: 65%;
    min-width: 700px;
}

.fc_container > .fc {
    height: 100%;
    width: 100%;
}

.fc-media-screen {
    height: 100%;
    width: 100%;
}


.ScEdits > button{
    height: 5rem;
    width: 5rem;
}