/* ManagementContainer.css */

.management-container {
    display: flex;
    flex-flow: row;
    justify-content: start;
    width: 100vw;
    height: 90vh;
}

.management-container > .sc1 ,
.management-container > .sc2 {
    width: 25%;
}

.management-container > .sc3 {
    width: 50%;
}
