/* ManagementContainer.css */

.management-container {
    display: flex;
    flex-flow: row;
    justify-content: start;
    width: 100vw;
    height: 90vh;
}

.sc1 ,
.sc2 {
    width: 25%;
}

@media (max-width: 768px) {
    .manacategory {
        display: none; /* 너비가 768px 이하일 때 카테고리 컨테이너 숨기기 */
    }
}

