/* Navbar.css */

.legalNavbar {
    max-width: 800px;
    margin: 10vh auto 0; /* 중앙 정렬 및 상단 여백 */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px 8px 0 0; /* 윗부분만 둥근 모서리 */
    background-color: #f9f9f9;
    opacity: 0.9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    line-height: 1.6; /* 줄 간격 */
    color: black;
    font-weight: bold;
    text-align: center; /* 텍스트 중앙 정렬 */
}

.legalNavbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* 가운데 정렬 */
}

.legalNavbar ul li {
    margin: 0 10px;
}

.legalNavbar ul li a {
    text-decoration: none;
    display: block;
    font-size: 16px; /* 글자 크기 */
    transition: transform 0.3s; /* 부드러운 배경색 전환 */
    color: black;
    position: relative; /* 상대 위치 설정 */
    padding: 14px 20px;
    border-radius: 8px; /* 둥근 모서리 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.legalNavbar ul li a:hover {
    transform: scale(1.05);
    background-color: #e0f7fa; /* 하늘색 배경 추가 */
}

.legalNavbar ul li a.active::after {
    content: '';
    position: absolute;
    left: 10%;
    bottom: 10px;
    width: 80%;
    height: 2px;
    background-color: skyblue; /* 하늘색 밑줄 */
}
