 
.customerServices{
    width: 1600px;
    height: auto;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}

.CTM_notice, 
.CTM_faq{
    position: relative;
    width: 48%;
    overflow: hidden;
}

.CTM_notice > h3, 
.CTM_faq > h3{
    background-color: rgb(233, 233, 233);
    border-radius: 1rem;
    height: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    padding-left: .5rem;
}

.CTM_qna {

    width: 1600px;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
}

.CTM_qna > img {
    margin-left: -20%;
    height: 17rem;
    object-fit: cover;
}

.CTM_qna > P {
    font-size: larger;
    margin-right: 2rem;
}

.CTMtoQnA {
    font-size: larger;
    margin-right: 2rem;
    color: black;
}

.CTMlinks {
    position: absolute;
    right: 1rem;
    text-decoration: none;
    
}