.gpTitle{
    font-size: 1rem;
    margin-bottom: .5rem;
    overflow-x: hidden;
}

.gpTitle > i {
    margin-right: .5rem;
}

.gPassDetailBox{
    display: grid;
    grid-template-rows: 1.1fr 1fr 1fr;
    grid-template-columns: 3fr 7fr;
}

.gPassDetailBox > p:nth-child(1) {
    grid-column: 1 / 3;
}


.gPassDetailBox > p:nth-child(1) > i {
    font-size: 1.3rem;
    vertical-align: bottom;
}

.gPassDetailBox > span:nth-child(2) {
    text-align: start;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.gPassDetailBox > p:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.gPassDetailBox .D_day_span{
    color:gray;
}

.gPassDetailBox > span:nth-child(4) {
    text-align: start;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}




.gPassDetailBox > span:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}