.UD_container{
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    background-color: ghostwhite;
}

/* 버튼일괄 */
.UD_container button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    padding: .3rem;
}


.UD_basic_info,
.UD_pass_info,
.UD_logs,
.UD_exercises {
    margin-top: 1rem;
    padding: 1rem;
    border: 1.5px rgb(94, 185, 255) solid;
    border-radius: .5rem;
}


.UD_basic_info{
    background-color: white;
}

.UD_pass_info{
    background-color: white;
}

.UD_logs{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 20%;
    background-color: white;
}

.UD_logs > p > span:nth-child(1) {
    color: rgb(39, 74, 248);
}

.UD_logs > button {
    width: 5rem;
}

.UD_exercises{
    height: 20%;
    background-color: white;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.UD_exercises > button {
    width: 5rem;
}