body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    white-space: nowrap;
}


.container {
    width: 80vw;
    height: 80vh;
    margin:auto;
    background: #fff;
}

.workoutSection h2 {
    color: #333;
    margin-bottom: 5vh;
    padding-top: 5vh;
    text-align: center;

}

.exerciseEntry{
    width: 80%;
    margin: auto;
}



.setLabels {
    display: flex;
    margin-bottom: 5px;
}
.setLabels label{
    margin-right: 12vw;
}
.setLabels :first-child{
    margin-left: 5vw;

}
.setEntry {
    display: flex;
    align-items: start;
}

.setEntry input[type="text"], 
.setEntry input[type="number"] {
    width: 15vw;
    height: 2vh;
    padding: 8px;
    margin-right: 2vw;
    margin-bottom: 1vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;

}

 .removeSet {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1vh 2vh;

    border-radius: 5px;
    cursor: pointer;
}
.addSet{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1vh 2vh;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.removeSet {
    background-color: #f44336;
}

.submitBtn{
    display: block;
    width: 15vw;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 20px auto;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.submitBtn:hover {
    background-color: #007B9A;
}

