.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form.left-align {
  align-items: flex-start;
  /* 좌측 정렬 */
}

.modal-form input,
.modal-form textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

.modal-form textarea {
  resize: none;
  height: 150px;
}

.submit-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #45a049;
}

.add-member-button {
  padding: 10px 20px;
  margin: 20px 0;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.add-member-button:hover {
  background-color: #45a049;
}

.edit-button {
  margin-top: 10px;
  padding: 3px 6px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.edit-button:hover {
  background-color: #45a049;
}

.delete-button {
  margin-top: 10px;
  padding: 3px 6px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.delete-button:hover {
  background-color: #ff1a1a;
}

.availability-section {
  width: 80%;
  margin: 10px 0;
}

.days-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* 1줄로 만들기 */
  gap: 10px;
}

.day-label {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  user-select: none;
}

.day-label.selected {
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.time-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}