.managementuseritem {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 200px;
    width: 100%;
    align-items: center;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    
    img {
        width: 50%;
    }
}
