
.MyPage {
    margin-top: 5rem;
}




/* ====================================================================================== */
/* 네비게이션 바 */

.MyService{
    background-color: #f0f0f0;
    display: flex;
    flex-flow: column nowrap;
    width: 290px;
    float: left;
}

.MyService > div {
    padding: 1rem 1rem 1rem 5rem;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    position: relative;
    border-top: 1px white solid;
}

.MyService > div:hover {
    background-color: #c1c1c1;
    cursor: pointer;
}

.MyService i,
.MyService p {
    margin-right: 2rem;
    z-index: 2;
}

.renderMyService{
    width: 900px;
    height: auto;
    min-height: 1rem;
    margin: auto;
}

/* //================================================================================================   */
/* 기본 정보 */

.MyInfoBox {
    width: 100%;
    height: 30rem;
    
    box-sizing: border-box;
    
    border: 1px solid #d8d8d8;
    
    display: grid;
    grid-template-columns: 1fr 4fr;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    margin: 5rem 0 5rem 0;
} 

.MyProfile {
    grid-column: 1 / 2;
    background-color: rgb(217, 217, 217);
    height: 12em;
    width: 12em;
    border-radius: 3rem;
}

.MyInfoList{
    grid-column: 2 / 3;
    border-radius: 1rem;
    padding: 1rem;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.MyInfoList > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid #8a8a8a;
}


/* =========================================================================== */
/* 구독 정보 */

.MySubscribeBox {
    width: 100%;

    box-sizing: border-box;
    border: 1px solid #d8d8d8;

    display: flex;
    flex-wrap: wrap;
    padding: 2rem;

    gap: 1rem;

    margin: 5rem 0 5rem 0;
} 

.CurrentSubscription {
    height: 30rem;
    width: 100%;

    background-color: rgb(255, 255, 255);
    border-radius: 1rem;

    display: flex;

    align-items: center;
    justify-content: space-between;

    font-size: larger;
    font-weight: bold;

    border: 1px solid black;
    overflow: hidden;

    white-space: nowrap;

    animation: SubscriptionOpen 1s;
}

.CurrentSubscription > img {
    height: 100%;
    width: 15rem;
    object-fit: contain;
    background-color: rgba(49, 148, 255, 0.859);
    border-radius: 1rem;
}



.SubscriptionInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;


    p {
        margin: 0 0 .5rem 0;
        font-size: 2.5em;
        font-weight: bold;
    }

    span {
        color:rgb(105, 105, 105);
        font-size: 1.5em;
        margin-bottom: 1rem;
    }


    ul {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;

        li {
            margin: 1rem 0 1rem 0;
            font-size: 1.3em;
        }
    
        .fa-check {
            color: rgb(4, 125, 255);
            margin-right: .5rem;
        }
    
        .fa-xmark {
            color: red;
            margin-right: .5rem;
        }
    }
}


.SubscriptionPayment {
    width: 100%;
    height:100%;

    display: flex;
    flex-flow: row wrap;

    justify-content: space-between;
}

.SubscriptionPayment > div {
    width: 100%;
    height: 10rem;

    background-color: rgb(138, 138, 138);
    color: white;

    border-radius: 1rem;
    padding: 1rem;
}

.CancelSubscription {
    width: 5rem;
    height: 2rem;
    margin: auto;
}




/* ================================================================================== */
/* 문의 내역 */


.InquiryBox {
    padding: 1rem;
    width: 100%;
    min-height: 35vh;
    border: 1px solid #d8d8d8;
    border-radius: 1rem;

    margin: 5rem 0 5rem 0;
}

.InquiryTable {
    display: grid;
    grid-template-columns: .5fr 1fr 5fr 1fr 1fr;
    align-items: center;
    
    /* padding-left: 1rem; */
    background-color: #d8d8d8;
    height: 3rem;
}

.InquiryTable > span {
    height: 100%;
    width: 100%;
    line-height: 3rem;
    border-right: 1px white solid;
    text-align: center;
}

.Inquiry {
    width: 100%;
    height: 3rem;
    overflow: hidden;
    margin: .5rem 0 .5rem 0;
    
    display: grid;
    grid-template-columns: .5fr 1fr 5fr 1fr 1fr;
    grid-template-rows: 3rem auto;

    border: 1px solid #8a8a8a;
    border-radius: .5rem;

    align-items: center;

    cursor: pointer;
}


.Inquiry > p:not(:nth-child(3))   {
    justify-self: center;
}

.Inquiry > p:nth-child(2) {
    color: #000000;
}

.Inquiry > p:nth-child(3) {
    font-weight: bold;
}

.Inquiry > div {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    padding: 1rem;
    border-top: 1px solid #8a8a8a;
}

.noInquiry {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #8a8a8a;
}

/* ================================================================================== */    
/* 보안 */

.MySecurity {
    width: 100%;
    height: 30rem;
    
    box-sizing: border-box;
    
    border: 1px solid #d8d8d8;

    text-align: center;
    font-size: 20px;

    gap: 2rem;
    padding: 2rem;

    margin: 5rem 0 5rem 0;
}

/* ===================================================================== */
/* 특수 제어  */

.InquiryOpen {
    height: auto;
}

/* ======================================================================= */
/* 애니메이션 */

@keyframes SubscriptionOpen {
    from {
        width: 15rem;
    }
    to {
        width: 100%;
    }
}

@keyframes smoothUp {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* ======================================================================= */   
/* 미디어쿼리 */

@media screen and (max-width: 1550px) {
    .renderMyService{
        width: 900px;
        height: auto;
        min-height: 1rem;
        margin-left: 300px;
    }
    
}

@media screen and (max-width: 1270px) {

    .renderMyService{
        width: 70vw;
        height: auto;
        min-height: 1rem;
        margin-left: 300px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 1050px) {
        .MyService{
        width: 95vw;
        margin: auto;

        display: flex;
        flex-flow: row nowrap;
        /* justify-content: space-between; */

        min-width: 0px;
        float: none;

        margin-bottom: 2rem;
        }

        .renderMyService{
            width: 95vw;
            margin: auto;
            height: auto;
            min-height: 1rem;
        }

        .MyService i {
            display: none;
        }

        .MyService > div {
            padding: 1rem 0rem 1rem 0rem;
            font-size: 1.2rem;
            display:inline-block;
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 1px white solid;
        }

        .MyService p {
            margin-right: 0;
        }

        .Inquiry {
            font-size: .8rem;
            grid-template-columns: .5fr 1fr 4fr 1.5fr 1.5fr;
        }
        .InquiryTable {
            font-size: .8rem;
            grid-template-columns: .5fr 1fr 4fr 1.5fr 1.5fr;
        }
}

@media screen and (max-width: 660px) {
    .CurrentSubscription > img {
        display: none;
    }

    .MyProfile {
        height: 9rem;
        width: 9rem;
    }
}