.MyService{
    width: 10rem;
    background-color: #f0f0f0;
    float: left;
}

.MyService > div {
    margin: 1rem;
    font-size: 1.2em;
}

.renderMyService{
    width: 50vw;
    min-width: 800px;
    height: auto;
    min-height: 1rem;
    margin: auto;
}

/* //================================================================================================   */
/* 기본 정보 */

.MyInfoBox {
    width: 100%;
    height: 30rem;
    
    box-sizing: border-box;
    
    border: 1px solid #d8d8d8;
    
    display: grid;
    grid-template-columns: 1fr 4fr;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;

    margin: 5rem 0 5rem 0;

} 

.MyProfile {
    grid-column: 1 / 2;
    background-color: rgb(217, 217, 217);
    height: 12em;
    width: 12em;
    border-radius: 3rem;
}

.MyInfoList{
    grid-column: 2 / 3;
    border-radius: 1rem;
    padding: 1rem;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.MyInfoList > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid #8a8a8a;
}


/* =========================================================================== */
/* 구독 정보 */

.MySubscribeBox {
    width: 100%;

    box-sizing: border-box;
    border: 1px solid #d8d8d8;

    display: flex;
    flex-wrap: wrap;
    padding: 2rem;

    gap: 2rem;

    margin: 5rem 0 5rem 0;
}

.MySubscribeBox > div {
    /* width: 100%; */
    display: flex;
}

.CurrentSubscription {
    height: 30rem;
    width: 10rem;

    background-color: dodgerblue;
    border-radius: 2rem;

    align-items: center;
    justify-content: center;

    font-size: larger;
    font-weight: bold;
}

.CurrentSubscription > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.SubscriptionPayment {
    width: 100%;
    height:auto;

    justify-content: space-between;
}

.SubscriptionPayment > div {
    width: 48%;
    height: 10rem;

    background-color: rgb(138, 138, 138);
    color: white;

    border-radius: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
}

.CancelSubscription {
    width: 5rem;
    height: 2rem;
    margin: auto;
}




/* ================================================================================== */
/* 문의 내역 */


.InquiryBox {
    padding: 1rem;
    width: 100%;
    border: 1px solid #d8d8d8;
    border-radius: 1rem;

    margin: 5rem 0 5rem 0;
}

.InquiryTable {
    display: grid;
    grid-template-columns: .5fr 1fr 5fr 1fr;
    align-items: center;
    
    /* padding-left: 1rem; */
    background-color: #d8d8d8;
    height: 3rem;
}

.InquiryTable > span {
    height: 100%;
    width: 100%;
    line-height: 3rem;
    border-right: 1px white solid;
    text-align: center;
}

.Inquiry {
    width: 100%;
    height: 3.4rem;
    margin: .5rem 0 .5rem 0;

    border: 1px solid #8a8a8a;
    border-radius: .5rem;

    display: grid;
    grid-template-columns: .5fr 1fr 5fr 1fr;
    align-items: center;
}

.Inquiry> p:nth-child(1){
    justify-self: center;
}

.Inquiry > p:nth-child(2) {
    /* width: 7rem; */
    color: #000000;
    justify-self: center;
}

.Inquiry > p:nth-child(3) {
    font-weight: bold;
}

.Inquiry > p:nth-child(4) {
    justify-self: center;
}

.noInquiry {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #8a8a8a;
}