.PMcontainer{
    height: 80vh;
    min-height: 600px;
    display: flex;
    flex-flow: column nowrap;
    padding: 3rem 0rem;
    width: 40rem;
    margin: auto;
}

.passListBox{
    height: 400px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.addPassBox{
    box-sizing: border-box;
}

/* 수강권 추가 박스 */
.addPassForm{
    height: 100%;
    width: 100%;

    display: flex;
    flex-flow: column wrap;
    box-sizing: border-box;
    
    padding: 1rem;

    border: 2px rgb(94, 185, 255) solid;
    border-radius: 1rem;
    height: auto;
}

.addPassBox button {
    height: 2rem;
    width: 6rem;
    margin: auto;
}

/* label */
.addPassForm label {
    width: 6rem;
    padding: 0rem 0rem 0rem .5rem;
}


/* 인풋태그 */

.addPassBox input {
    height: 2rem;
    margin: .5rem 0rem;
}

.psName_input{
    width: 85%;
}

.psUse_input,
.pExp_input{
    width: 35%;
}

.addPassForm > section {
    width: 100%;
    display: flex;
    flex-flow: row no-wrap;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
