* {
    margin: 0;
    padding: 0;
    list-style: none;
}


@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');

.FAQpage {
    min-width: 800px;
    margin: auto;
    font-family: 'Nanum Gothic', sans-serif;
}


/* ============================================================================== */

.FAQheader {
    width: 100vw;
    height: 15rem;
    background-color: rgb(218, 231, 255);

    position: relative;
}

.FAQheader > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    margin-left: 300px;
}


.FAQtitle {
    position: absolute;
    top: 50%;
    margin-left: 17.5vw;
}

/* =============================================================================== */


.FAQsearchContainer {
    width: 65vw;
    min-width: 800px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 4em;   
    margin-bottom: 1rem;

    border-bottom: 2px rgb(153, 153, 153) solid;
}

.FAQsearchBar {
    width: 55vw;
    
    padding-left: 1rem;

    min-width: 680px;
    font-size: 1.4rem;
    
    border: 0;
    outline: none;
}



.FAQselect {
    width: 10vw;
    min-width: 120px;

    margin-bottom: -2px;

    font-weight: bold;

    text-align: center;
    font-size: 1.3rem;
}

.FAQselect,
.FAQsearchBar{
    height: 4rem;
}

/* ================================================================ */


.FAQlist {
    height: auto;
    padding: 1rem 0rem 2rem 0rem;
}

.FAQ_container {
    position: relative;

    height: 3rem;
    width: 65vw;
    min-width: 800px;

    margin: auto;

    background-color: white;
    
    border: 1px solid;
    
    overflow: hidden;
    transition: height .5s;
}

.FAQ_container>li:nth-child(1) {
    cursor: pointer;
    width: 100%;
    display: flex;
}


.FAQlist_category {
    width: 20%;
    text-align: center;
    line-height: 3rem;
}

.FAQlist_title {
    width: 100%;
    text-align: start;
    line-height: 3rem;
    font-weight: bold;
}

.FAQlist_Icon{
    position:absolute;
    right: 1rem;
    line-height: 3rem;
    font-size: 2rem;
}

.List_answer {
    box-sizing: border-box;
    background-color:rgb(255, 255, 255);
    width: 100%;
    
    background-color:whitesmoke;

    font-size: 1rem;
    padding: 2rem 2rem 2rem 4rem ;
}

.showList {
    transition: height .5s;
}


/* =============================================================================== */



.FAQaddList {
    cursor: pointer;
    background-color: rgb(43, 114, 255);
    opacity: 0.8;
    
    margin: auto;
    margin-top: 1rem;
    border-radius: 20px;
    border: 1px solid;

    height: 3rem;
    width: 12rem;
    line-height: 3rem;

    text-align: center;

    font-size: 1.1rem;
    color: white;
}

.FAQaddList:hover {
    font-weight: bolder;
    opacity: 1;
}

.NothingOnSearch {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}